{{# posts? }}
<ol>
  {{# posts }}
    <li>
      <h2><a href="{{ url }}">{{ title }}</a></h2>
      {{{ body }}}
      <p><a href="{{ url }}">Continue reading…</a></p>
    </li>
  {{/ posts }}
</ol>
{{/ posts? }}

<p class="admin">
  <a href="{{ new_post_path }}">Write a new post</a>
</p>
