<h2><a href="{{ url }}">{{ title }}</a></h2>
{{{ body }}}

<div id="admin">
  <a href="{{ edit_path }}">Edit this post</a>
</div>

<h3>Comments</h3>
{{# comments? }}
<ol>
  {{# comments }}
    <li>{{ comment }}</li>
  {{/ comments }}
</ol>
{{/ comments? }}
