<h1>New blog post</h1>

<% form_for @post do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p>
    <%= f.submit 'Save' %> or <%= link_to 'go back', posts_path %>
  </p>
<% end %>
